@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek-Book.eot');
    src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/20Kopeek-Book.woff') format('woff'),
    url('../fonts/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}
p{
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    color: #ffff;
    padding: 30px 0px 0px;
    position: absolute;

}

.logo {
    display: flex;
    max-width: 300px;


}

.logo a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.logo p {
    margin-left: 22px;
    font-family: '20 Kopeek';
    font-size: 15px;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.contacts a {
    color: #ffff;
    text-decoration: none;
    border: 1px solid #ffff;
    padding: 9px 15px;
    border-radius: 20px;
    margin: 0px 12px 0px 12px;
    transition: 0.2s;

}

.contacts a:hover {
    color: #ffff;
    background: #000;

    border: none;

}

.contacts .ds {
    padding: 9px 11px;
    margin-right: 0px;
}

.contacts .phone {
    border-radius: 15px;
    padding: 7px 27px 7px 33px;
    margin-left: 0px;

}

/*///////////////////////////////////////*/
.section_header {
    background: url("../images/bg.jpg") no-repeat center/cover;
    padding: 269px 0px 0px;
    height: 100vh;
    font-family: '20 Kopeek';
}

.title {
    font-size: 55px;
    margin-bottom: 30px;
    Line-height: 55px;
}

.sub_title {
    margin-bottom: 65px;
    font-size: 34px;
    Line-height: 37px;
}
/*.btn_header_links{*/
/*    display: flex;*/
/*}*/
.btn_link  {
    background: #ffff;
    border-radius: 40px;
    padding: 23px 47px;
    color: #000;
    transition: 0.3s;
}

.btn_link:hover {
    color: #ffff;
    background: #000;
}

.mar-r {
    margin-right: 20px;
}

/*//////////////////////////////////////SECTION2////////////////////////////////////////////////////////////////////*/
.section_branded_style {
    padding: 70px 0px 77px;
    font-family: '20 Kopeek';
}

.heading_two {
    Line-height: 42px;
    margin-bottom: 15px;
    font-size: 38px;

}

.uniq_set {
    max-width: 450px;
    Line-height: 25px;
    margin-left: 30px;
    margin-bottom: 23px;
    font-weight: 400;

}
.justify_none {
    justify-content: stretch;
    margin-bottom: 150px;

}
/*/////////////////////////////////ARTICLE////////////////////////////////////////////*/
.advantages{
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;   /* delete margin in last section, color font white*/
}
.heading_three{
    Font-size: 55px;
    Line-height: 55px;
    font-weight:400;
    margin-bottom: 65px;
}
.first_let{
    font-size: 55px;
    Line-height: 55px;
    position: relative;
    top: -24px;
    right: 8px;
}
.box{
    Font-size: 18px;            /* fs: 15px*/
    Line-height: 25px;      /* lh: 19px*/
    display: flex;
}
.column1{
    max-width: 123px;
}
.column2{
    max-width: 147px;           /*one general .column 200px*/
}
.column3{
    max-width: 122px;
}
.column4{
}
.column5{
    max-width: 300px;
}
/*/////////////////////////////////ARTICLE////////////////////////////////////////////*/
.cost_paragraph{
    max-width: 396px;
    Line-height: 25px;
}

.blue_span{
    display: inline-block;
    padding: 11px 7px 11px 13px;
    color: #ffff;
    background-color: #2B59C3;
    border-radius: 5px;

}
.heading_four{
    Font-size: 38px;
    Line-height: 42px;
    font-weight: normal;

    margin-bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
}
/*//////////////////////////////////////SECTION3////////////////////////////////////////////////////////////////////*/
.section_projects{
    padding: 74px 0px 0px;
    font-family: "20 Kopeek";
}
.section_projects p{
    Line-height: 25px;
    display: flex;
    margin-bottom: 100px;

}
.section_projects p:last-child{
    margin-bottom: 53px;
}
.section_projects h3{
    display: flex;
    align-items: center;
    font-weight: normal;
}
.project{
    border: 1px solid #000;
    margin-left: 89px;
}
.blue{
    background-color: #2B59C3;
    color: #ffff;
    font-size: 26px;
    margin-left: 350px;
}
.img_section3{
    padding-bottom: 38px;
}
.amperia{
    Font-size: 55px;
    Line-height: 55px;
}
/*//////////////////////////////////////SECTION 4////////////////////////////////////////////////////////////////////*/
.section_application{
    padding: 100px 0px;
    font-family: "20 Kopeek";
}
.hhhh{
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
}
.blue_box{
    padding: 11px 39px 18px 14px;
    color: #ffff;
    background-color: #2B59C3;
    line-height: 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    max-width: 459px;
}
.blue_box h3{
    font-size: 26px;
    line-height: 29px;
    font-weight: normal;
    margin-bottom: 30px;
}
.img_dislife{
    margin-right: 30px;
}
.w-max{
    max-width: 439px;
    padding: 11px 14px 18px 14px;
}
.m-b{
    margin-bottom: 77px;
    align-items: stretch;
}
.title_application{
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 11px;
}
.p_connection{
    margin-bottom: 27px;
}
.wrapper_second{
    display: flex;
    margin-bottom: 21px;
}
.margin_right{
    margin-right: 30px;
}
form label{
    display: none;
}
form input{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 23px 150px 23px 29px;
}

.btn{
    padding: 23px 47px;
    color: #ffff;
    background-color: #2B59C3;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 40px;
}
.btn:hover{
    background-color: #264BA1;
}
.bb a{
    color: #2B59C3;
}
.bb label{
    display: inline;
    cursor: pointer;
}
/*//////////////////////////////////////SECTION 5////////////////////////////////////////////////////////////////////*/
.stages_of_creation{
    padding: 50px 0px;
    font-family: "20 Kopeek";
}
.wrap_add{
    align-items: stretch;
    justify-content: stretch;
    margin-bottom: 60px;
}
.heading_creation {
    font-size: 55px;
    font-weight: normal;
    line-height: 55px;
    margin-bottom: 85px;
}
.icon_box{
    max-width: 283px;
    margin-right: 97px;
    width: 100%;
}
.icon_box h3{
    font-size: 26px;
    line-height: 29px;
    font-weight: normal;
}
.icon_box img{
    margin-bottom: 23px;
}
.rest_box{
    max-width: 160px;
}
.rest_box p{
    font-size: 15px;
    line-height: 19px;
}
.rest_box h4{
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    margin-bottom: 15px;
}
.wrap_add div:nth-child(2){
    margin-right: 15px;
}
.wrap_add div:nth-child(3){
    margin-left: 15px;
    margin-right: 15px;
}
.wrap_add div:nth-child(4){
    margin-left: 15px;
    margin-right: 0px;
}
/*//////////////////////////////////////SECTION 6////////////////////////////////////////////////////////////////////*/
.guarantee_of_quality{
    padding: 282px 0px 80px;
    font-family: "20 Kopeek";
    background: url("../images/backpack.jpg") no-repeat center/cover;
}
.heading_quality{
    font-size: 55px;
    line-height: 55px;
    font-weight: normal;
    color: #ffff;
    margin-bottom: 65px;
}
.article2{
    color: #ffff;
    margin-bottom: 0;

}
.box_s{
    Font-size: 15px;
    Line-height: 19px;
    display: flex;
}
.same_column{
    max-width: 200px;
}
.footer{
    padding: 150px 0px 23px;
    font-family: "20 Kopeek";
}
.headin_contact_us{
    font-size: 38px;
    font-weight: normal;
    line-height: 41px;
    margin-bottom: 30px;
}
.form_footer{
    max-width: 467px;
}
.wrapper_footer{
    display: inline-block;
}
.mar_none{
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.margin_bottom{
    margin-bottom: 21px;
    margin-right: 0px;
    margin-left: 0px;
}
.m_b{
    margin-bottom: 48px;
}
.d_flex{
    justify-content: normal;
    align-items: normal;
    margin-bottom: 127px;
}
.margin_right_box{
    margin-right: 103px;
}
.cont_info{
    font-size: 26px;
    line-height: 29px;
    margin-bottom: 15px;
}
.mb_media{
    margin-bottom: 14px;
    font-weight: normal;
}
.in_media{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.in_media p{
    font-size: 18px;

}
.white_link{
    color: #ffff;
    display: block;
    margin-top: 25px;
}
.blue_bg{
    color: #ffff;
    background-color: #2B59C3;
    border-radius: 10px;
    max-width: 255px;
}
.footer_box1{
    padding: 6px 80px 16px 13px;
    margin-bottom: 0;
}
.footer_box2{
    padding: 6px 4px 16px 8px;
}
.footer_box3{
    padding: 6px 12px 16px 8px;
}
.footer_box4{
    padding: 6px 6px 16px 16px;
    margin-bottom: 38px;
}